@import "mixins";
@import "variables";

.heartForm {
  .form-group
  {
    @include spacing-tb(m, 0.2, em);
    .form-control {
      @include border(1px, solid, $text-gray);
      box-shadow: none;
      border-radius: 0.2em;
      &:focus{
        border-color: $blue;
      }
    }
    .help-block
    {
      @include font(0.8,500,$text-gray);
    }
    .large_head
    {
      @include font(1.5,600,$text-dark);
      @include spacing-b(m,0,em);
    }
    .large_head_label
    {
      @include font(1,600,$text-gray);
    }
    .grey
    {
      color: $text-gray;
    }
    .horizontal_line
    {
      background: $red;
      height: 1px;
      @include spacing-tb(m,1,em);
      width: 100%;
    }
    .no-padding
    {
      @include spacing-lr(p,0,em);
    }
    .check-box
    {
      display: flex;
      flex-direction: row;
      align-items: center;
      .right
      {
        label{
          @include font(1,500,$text-dark);
        }
      }
    }
    .left-bs-padding
    {
      padding-left: 15px;
    }
  }
  .has-error
  {
    .control-label
    {
      color: $red;
    }
    .help-block {
      color: $red;
      @include spacing-t(m,0,em);
    }
    .form-control {
      border-color: $red;
    }
  }
  .min-row-height
  {
    max-height: 6.5em;
    height: 6.5em;
    min-height: 6.5em;
  }
  .label-check
  {
    @include font(1.2,600,$text-dark)
  }
}

